@model ServiceFormModel

@{
    ViewBag.Title = "Service Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 25rem;"
                 src="@Model.ImageUrl" alt="Service Image">
        </div>
        <div style="background-color:lightgoldenrodyellow"  class="card col-10 border-0">
            <br/><br/>
            <p style="font-size:25px;"><b><i> @Model.Name</i></b></p>

            <p style="font-size:15px;"><b><i>MORE INFORMATION: </i></b> @Model.Description</p>
            <p></p>
            <form class="ml-2" asp-controller="Service" asp-action="Back"
                  asp-route-id="@Model.Id" method="post">
	            <input class="btn btn-primary" type="submit" value="<< Back" />
            </form>

	    </div>
    </div>
</div>

