@model CarDetailsModel

@{
    ViewBag.Title = "Car Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 25rem;"
                 src="@Model.ImageUrl" alt="Car Image">
        </div>
        <div class="card col-8 border-0">
	        <p style="font-size:20px;">
		        <b>@Model.Brand</b><br/>
		        <b>@Model.Model</b>
	        </p>   
            <br/>
            <p style="font-size:18px;">
	            <b><i>Year:</i></b> @Model.Year<br/>
                <b><i>Price:</i></b>
                @String.Format("{0:f2}", Model.Price) EUR<br/>
	            <b><i>More info:</i></b> @Model.Description<br/>
	            <b><i>Type:</i></b> @Model.Type<br/>
	            <b><i>Fuel:</i></b> @Model.Fuel<br/>
	            <b><i>Transmission:</i></b> @Model.Transmission<br/>
            </p>
            <p><i>(@(Model.IsRented ? "Rented" : "Not Rented"))</i></p>
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-warning" asp-controller="Car" asp-action="Edit"
                       asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Car" asp-action="Delete"
                       asp-route-id="@Model.Id">Delete</a>
                    @if (!Model.IsRented)
                    {
                        <form class="ml-2" asp-controller="Car"
                              asp-action="Rent" asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Rent" />
                        </form>
                    }
                    else
                    {
                        <form class="ml-2" asp-controller="Car" asp-action="Leave"
                              asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Leave" />
                        </form>
                    }
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
	            <div class="card-body">
		            <h5 class="card-title"><b>Dealer Info</b></h5>
		            <p class="card-text"><b><i>Name:</i></b>  @Model.Dealer.Name</p>
		            <p class="card-text"><b><i>Phone Number:</i></b> @Model.Dealer.PhoneNumber</p>
	            </div>
            </div>
            <p></p>

            <form class="ml-2" asp-controller="Home" asp-action="Back"
                  asp-route-id="@Model.Id" method="post">
                <input class="btn btn-primary" type="submit" value="<< Previous" />
            </form>
        </div>
    </div>
</div>
